<DOCTYPE! html>
<html>
	<body>
		<form method="POST" action="/save">
			<label for="item">Item</label>
			<input type="text" name="item"/>
			<label for="amount">Amount</label>
			<input type="text" name="amount"/>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>